Source: ros-hydro-applanix-msgs
Section: misc
Priority: extra
Maintainer: Kareem Shehata <kshehata@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-message-generation, ros-hydro-rospy
Homepage: http://wiki.ros.org/applanix_msgs
Standards-Version: 3.9.2

Package: ros-hydro-applanix-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-geometry-msgs, ros-hydro-message-runtime, ros-hydro-rospy
Description: ROS messages which represent the serialized wire messages and groups of Applanix devices.
