Source: ros-hydro-applanix-bridge
Section: misc
Priority: extra
Maintainer: Kareem Shehata <kshehata@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), python-impacket, python-pcapy, ros-hydro-applanix-msgs, ros-hydro-catkin, ros-hydro-rospy
Homepage: http://wiki.ros.org/applanix_bridge
Standards-Version: 3.9.2

Package: ros-hydro-applanix-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-applanix-msgs, ros-hydro-diagnostic-msgs, ros-hydro-geodesy, ros-hydro-geometry, ros-hydro-message-runtime, ros-hydro-rospy
Description: Contains the adapter node which translates between the Applanix serialized socket format and ROS messages. This node is implemented in Python for now, but could be re-implemented using roscpp if performance is a bottleneck.
